&nbsp;
<nav class="navbar navbar-expand-md navbar-warning bg-warning">
    <div class="mx-auto order-0">
        <a class="navbar-brand mx-auto" href="#">Airlines List</a>
    </div>
</nav> &nbsp;

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <select class="form-select" aria-label="Default select example" (change)="getSelectedInfo($event)">
          <option value="disabled"> ---select category----</option>
          <option *ngFor="let fal of tempData">{{fal.country}}</option>
        </select>
    </li>
  </ol>
</nav>


<app-grid 
[flightDetails]="flightList"
[gridcolumn]="columnDefs" 
[gridconf]="defaultColDef"
>
</app-grid>

